.note-section {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;

  }
  
.add-note-wrapper {
  display: flex;
  justify-content: center;
}

.add-note-wrapper > textarea {
  resize: none;
}